<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>ALSC</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://kingmoking.github.io/forapp/alsc/alsc.ipa</string>
          </dict>
          <dict>
            <key>ALSC</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>http://www.apicloud.com/icon1/7a/f7/7af7fd10ad0f95c2fef83964b0249072.57x57.png</string>
          </dict>
          <dict>
            <key>ALSC</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>http://www.apicloud.com/icon1/7a/f7/7af7fd10ad0f95c2fef83964b0249072.57x57.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>ALSC</string>
          <key>bundle-version</key>
          <string>1.9.37</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>ALSC</string>
          <key>title</key>
          <string>ALSC</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
