/*样式重置*/
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  color: #fff;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.img {
  width: 100%;
  height: 100%;
}

.loading-box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
  /* opacity: 0.3; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.layui-m-layer-msg {
  top: -1.33333333rem !important;
}

.text_height {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

.flex {
  display: flex;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;

}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #171b24;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.4rem;
  z-index: 99;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
header .lefts,
header .left {
  width: 1.33333333rem;
  height: 1.2rem;
}
header .lefts a,
header .left a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
header .lefts a img {
  width: 0.8rem;
  height: 0.8rem;
}
header .left a img {
  width: 0.5rem;
  height: 0.5rem;
}

header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.48rem;
}

header .title span {
  font-size: 0.48rem;
}

header .title .store {
  margin-left: 0.66666667rem;
}

header .right {
  width: 1.33333333rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .right span {
  font-size: 0.48rem;
}

header .right span img {
  width: 0.64rem;
  height: 0.64rem;
}

header .right>img {
  width: 0.48rem;
  height: 0.48rem;
}

footer {
  z-index: 99;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around !important;
  background-color: #2e333e;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a.active span {
  color: #00f4ff;
}

footer a img {
  width: 0.58666667rem;
  height: 0.58666667rem;
  margin-top: 0.13333333rem;
}

footer a span {
  font-size: 0.26666667rem;
  color: #358286;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

i,
em {
  font-style: normal;
}

.loading-box p {
  font-size: 0.46666667rem;
}

#layui-m-layer0,
#layui-m-layer1,
#layui-m-layer2,
.layui-m-layer {
  z-index: 9;
}